<h2 mat-dialog-title>{{data}} </h2>
<mat-dialog-content class="job-choice">
  <button (click)="deleteClick()" mat-dialog-close mat-flat-button>Yes</button>
  <button  mat-dialog-close mat-flat-button>No</button>
</mat-dialog-content>