h2{
  text-align: center;
  color: var(--textColor);
}

.mat-form-field{
  min-width: 350px;
  color: var(--textColor);
}

form{
  margin-top: 25px;
  display: grid;
}

button{
  background: var(--textColor);
  color: var(--mainBackGroundColor);
  font-size: 19px;
  height: 40px;
  width: 35%;
  margin: auto;
}

::ng-deep .mat-button-focus-overlay {
  display: none;
}


::ng-deep .mat-dialog-container{
  background: var(--mainBackGroundColor);
  overflow-x: hidden;
}

::ng-deep .mat-dialog-content{
  margin: 40px 0 20px 0;
  overflow-y: hidden;
  display: flex;
}

::ng-deep .mat-dialog-container{
  width: 25vw;
}


@media only screen and (max-width: 600px) {
  ::ng-deep .mat-dialog-container{
    width: 100vw;
  }
  
  ::ng-deep .mat-dialog-content{
    padding: 0;
  }
  
  button{
    width: 40%;
    padding: 0;
    text-align: center;
  }
 }