<div class="container">
    <mat-card class="no-message">
        <mat-card-content>
          <mat-icon>{{noMessage.icon}}</mat-icon>
          <h2>{{noMessage.text}}</h2>
        </mat-card-content>
      </mat-card>
</div>
