.no-message-container{
    width: 100%;
    margin-top: 5%;
  }
  
  .no-message{
    padding: 10px;
    text-align: center;
    width: 50%;
    background: #1f2833;
    margin: auto;
    color: var(--textColor);
    mat-icon{
      font-size: 50px;
      height: max-content;
      width: max-content;
    }
  
    h2{
      margin-top: 16px;
    }
  }

  @media only screen and (max-width: 600px) {
    mat-card{
      width: auto !important;
    }
  }
  