<div class="container">
  <div *ngIf="this.specificJob == null">
    <h1>Choose you interest</h1>
    <div class="p-grid no-specificjob-container">
      <app-job-categori-card (click)="loadSubCategoriesData(jobIndex)"
        class="p-col-12 p-lg-3 p-md-6 p-sm-6 button-holder" *ngFor="let cardContent of jobs; let jobIndex = index"
        [cardContent]="cardContent"></app-job-categori-card>
    </div>
  </div>

  <h1 *ngIf="this.specificJob != null">{{ this.title }}</h1>
  <mat-card *ngIf="this.specificJob != null" class="filters">
    <div class="filter-options">
      <h3>Filter options</h3>
      <mat-chip-list>
        <mat-chip (removed)="removeSpecificJob()">{{ this.title }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-card-title>Looking for</mat-card-title>
      <mat-radio-group (change)="loadFilteredData()" [(ngModel)]="isFreelancer">
        <mat-radio-button (change)="changeIsFreelancer(data.value)" *ngFor="let data of freelancerEmpolyerFilter"
          [value]="data.value">
          {{ data.label }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="filter-options">
      <mat-card-title>Categories</mat-card-title>
      <mat-radio-group (change)="loadFilteredData()" [(ngModel)]="subCategory">
        <mat-radio-button class="categori-radio-button" *ngFor="let jobcategory of specificJob[2]"
          [value]="jobcategory.value">
          {{ jobcategory.label }}
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="this.subCategory != null" class="button-holder">
        <button mat-flat-button (click)="clearCategory()">clear filter</button>
      </div>
    </div>
    <div class="filter-options">
      <mat-card-title>Price</mat-card-title>
      <mat-radio-group (change)="loadFilteredData()" [(ngModel)]="price">
        <mat-radio-button *ngFor="let price of priceToFilter" [value]="price.value" [checked]="price.checked">
          {{ price.label }}
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="this.price != null" class="button-holder">
        <button mat-flat-button (click)="clearPrice()">clear filter</button>
      </div>
    </div>
  </mat-card>

  <div class="mobile-filter-holder">
    <button *ngIf="this.specificJob != null" class="mobile-filter" mat-flat-button (click)="openFilterDialog()">
      Filter options
    </button>
  </div>

  <div *ngIf="this.specificJob != null" class="p-grid specificjob-container">
    <div *ngIf="specificJobs === undefined || specificJobs.length === 0  " class="no-data-container">
      <app-no-data class="no-data" [noMessage]='noJobs'></app-no-data>
      <div (click)="addNewJob()" class="new-post">
        <mat-icon>add_circle_outline</mat-icon>
        <h2>Be the first</h2>
      </div>
    </div>
    <app-job-card (click)="jobDetails(cardContent)" class="p-col-12 p-xl-3 p-md-6 p-sm-4 button-holder"
      *ngFor="let cardContent of specificJobs" [cardContent]="cardContent"></app-job-card>  
  </div>
</div>