.container{
  display: flow-root;
}

h1 {
  color: var(--textColor);
  text-align: center;
  font-size: 40px;
}

h3 {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 18px;
}

#specific-jobs {
  margin: 3% 0 5% 0;
}

.no-specificjob-container {
  max-width: 100%;
  margin: auto;
}

.new-post{
  cursor: pointer;
  margin-top: 25px;
  color: var(--textColor);
  width: auto;
  height: 10vh;
  display: flex;
  border: 4px var(--textColor) dashed;
  h2{
    margin: auto auto auto 0;
    font-size: 20px;
  }
  mat-icon{
    margin: auto 10px auto auto;
    font-size: 50px;
    height: max-content;
    width: max-content;
  }
}

.new-post:hover{
    background: var(--textColor);
    color: var(--mainBackGroundColor);
}

.no-data-container{
  width: 50%;
  height: max-content;
  margin: auto;
}

.specificjob-container {
  width: 82%;
  max-width: 82%;
  float: right;
}

.filters {
  background: #1f2833;
  width: 15.5%;
  height: 50%;
  float: left;
  color: var(--textColor);
}

.content-container {
  height: 100vw;
  border: 5px solid red;
}

mat-card {
  position: sticky;
  top: 5rem;
  height: max-content !important;
}

mat-card-title {
  font-size: 20px;
}


mat-radio-button {
  width: max-content;
  margin-bottom: 10px;
}

mat-radio-group {
  display: grid;
}

::ng-deep .mat-radio-label-content {
  margin-left: 5px;
}


::ng-deep .mat-select {
  width: 40%;
}

::ng-deep .mat-radio-outer-circle {
  border-color: var(--textColor);
}

::ng-deep .mat-select-placeholder {
  color: var(--textColor);
}

::ng-deep .mat-select-value {
  color: var(--textColor);
  font-size: 19px;
}

::ng-deep .mat-select-panel {
  background: #0b0f10;
}

::ng-deep .mat-option {
  color: var(--textColor) !important;
}

::ng-deep .mat-option:hover {
  color: #0b0f10 !important;
  background: var(--textColor) !important;
}

.filter-options {
  margin-bottom: 20px;
}

.button-holder {
  text-align: end;
  button {
    font-size: 15px;
    line-height: 0px;
    height: 20px;
    background: transparent;
    color: var(--textColor);
  }
}

.date-filter {
  margin-top: 10px;
}


::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-label-content {
  font-weight: bold;
}

::ng-deep .mat-radio-container {
  display: none !important;
}

::ng-deep .mat-radio-label-content {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: var(--textColor);
}
::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-inner-circle {
  background: var(--textColor);
}

mat-chip {
  color: #0b0f10 !important;
  background: var(--textColor) !important;
  border-radius: 2px !important;
}

::ng-deep .mat-chip-list-wrapper {
  margin: 0 0 15px 0 !important;
}

.mobile-filter {
  display: none;
  width: 100%;
  color: #0b0f10 !important;
  background: var(--textColor) !important;
  align-self: center !important;
  margin: 0;
}

.mobile-filter-holder {
  height: 60px;
  position: sticky;
  top: 3.2rem;
  z-index: 999;
  background: #0b0f10;
}

@media only screen and (max-width: 600px) {
  h1 {
    margin: 30% 0 10% 0;
    font-size: 25px;
  }

  job-freelance-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  ::ng-deep .cdk-overlay-pane {
    height: max-content !important;
  }

  .mobile-filter {
    display: grid;
  }

  #specific-jobs {
    margin: 10% 0 5% 0;
  }

  .filters {
    display: none;
  }

  .specificjob-container {
    width: 100%;
    margin: auto;
  }

  .no-data-container{
    margin: 0;
    width: 100%;
  }

  .button-holder {
    padding: 7px;
  }

  .mobile-filter-holder {
    display: flex;
  }
}

@media only screen and (max-width: 1199px) {
  h1 {
    margin: 20% 0 10% 0;
  }

  .mobile-filter {
    display: grid;
  }

  ::ng-deep .cdk-overlay-pane {
    height: max-content !important;
  }

  .specificjob-container {
    max-width: none;
    width: 100% ;
    margin: auto;
  }

  .filters {
    display: none;
  }
  
  .mobile-filter {
    display: grid;
  }

  .mobile-filter-holder {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    margin: 15% 0 10% 0;
  }
}

@media only screen and (min-width: 992px) and (min-width: 1200px) {
  h1 {
    margin-top: 0%;
    margin-bottom: 5%;
  }

  .filters {
    display: inline;
  }
  .mobile-filter {
    display: none;
  }

  .mobile-filter-holder {
    display: none;
  }

  ::ng-deep .no-data{
    .container{
      margin: 0;
    }

    .no-message{
      margin: 0 !important;
      width: auto !important;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1199px) { 
  ::ng-deep .mat-dialog-container{
    width: 75vw;
  }

 
}
