<div class="container" *ngIf="jobDetails">
  <h2>{{jobDetails.title}}</h2>
  <div class="left-side">
    <div class="image-holder">
      <img src={{image}} />
    </div>
    <div class="profile-data">
      <div class="profile-name">
        <h3>{{jobDetails.creator.username}}</h3>
      </div>
      <div class="profile-pic-holder">
        <div monoAvatar [userData]="this.userData"></div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="job-info">
      <h3>{{jobDetails.jobTitle}}</h3>
      <h3>${{jobDetails.price}}</h3>
      <h3 *ngIf="isFreelancer === true">Price includes</h3>
      <h3 *ngIf="isFreelancer === false">Looking for</h3>
      <h4>{{jobDetails.description}}</h4>
      <button mat-flat-button *ngIf="!creator" (click)="createRequest()"
        [ngClass]="{ hidden: isCurrentUsersProduct }">Enroll</button>
      <button mat-flat-button *ngIf="!creator" (click)="deleteJob()"
        [ngClass]="{ hidden: !isCurrentUsersProduct }">Delete Post</button>
    </div>
  </div>
  <div *ngIf="creator" class="request-info">
    <h4>Request Message</h4>
    <div class="creator-info">
      <div class="mono-avatar" monoAvatar [userData]="{ name: creator.username, status: false }"></div>
      <div class="user-info">
        <h3>{{ creator.username }}</h3>
        <h4>{{ message }}</h4>
      </div>
    </div>
    <div *ngIf="!isWorkingOn" class="request-buttons">
      <button mat-flat-button (click)="acceptRequest()">Accept Request</button>
      <button mat-flat-button (click)="declineRequest()" class="decline">Decline</button>
    </div>
    <div *ngIf="isWorkingOn" class="request-buttons">
      <button mat-flat-button (click)="finishJob()">Finish</button>
    </div>
  </div>
</div>