h3 {
    color: var(--textColor);
    width: 100%;
    margin: -1px !important;
    text-align: right;
    padding-right: 10px;
  }
  
  .container{
    margin-bottom: 25px;
  }
  
  h2 {
    color: var(--textColor);
    margin: 0 10% 10% 10px;
  }
  
  .hidden {
    display: none;
  }
  
  .job-info {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    color: var(--textColor);
  
    h3 {
      text-align: left;
      padding: 0;
    }
  }
  
  button {
    background: var(--textColor);
    color: var(--mainBackGroundColor);
  }
  
  .profile-name{
    display: grid;
    width: 97%;
    margin-right: 2%;
  
    h3{
      text-align: right !important;
      margin: auto !important;
      padding: 0;
    }
  }
  
  .profile-data {
    padding: 5px 10px 10px 10px;
    display: flex;
  }
  
  
  .job-info {
    margin-top: 10%;
  
    h3:nth-child(3) {
      margin-top: 5% !important;
      font-size: 18px;
    }
  
    h4 {
      margin-top: 8px;
      font-weight: lighter;
      width: 100%;
    }
  
    :nth-child(1) {
      flex-basis: 80%;
    }
  
    :nth-child(2) {
      flex-basis: 20%;
    }
  
    :nth-last(3) {
      flex-basis: 100%;
    }
  
    :nth-last(4) {
      margin-top: 10px !important;
      flex-basis: 100%;
    }
  }

  .decline{
    background: transparent;
    border: 2px solid var(--textColor);
    color: var(--textColor);
  }

  .request-info{
    padding: 10px;
    color: var(--textColor);
  }
  .creator-info {
    display: flex;
    .user-info {
      display: grid;
      width: 80%;
      h3,
      h4 {
        text-align: left;
        margin: 0 0 0 10px !important;
        color: var(--textColor);
      }
      h3 {
        margin-bottom: 5px !important;
      }
      h4 {
        font-weight: normal;
      }
    }
  }

  .mono-avatar {
    margin: auto 0;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      margin: 30% 0 5% 0;
    }

    .request-buttons{
      display: flex;

      button{
        flex-basis: 40%;
        margin: 10% auto 0px auto;
      }
    }

    img {
      min-height: 150px;
      width: 100%;
    }
  
    .image-holder {
      margin: 0 2%;
    }
  
    .profile-name-rate {
      width: 96%;
      margin-right: 4%;
    }
  
    button {
      flex-basis: 100%;
    }
  }
  
  @media only screen and (min-width: 601px) {
    img {
      height: 350px;
      width: 100%;
    }
  
    h2 {
      margin-top: 15%;
      margin-bottom: 5%;
    }
  
    .job-info {
      margin-top: 5%;
    }
  
    button {
      flex-basis: 50%;
      margin: 5% auto;
    }
  }
  
  @media only screen and (min-width: 930px) {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
  
    h2 {
      margin: 2% 0 3% 0% !important;
      order: 1;
      flex-basis: 100%;
    }
  
    .left-side {
      order: 2;
      flex-basis: 60%;
    }
  
    .right-side {
      order: 3;
      flex-basis: 40%;
    }

    .request-info{
      order: 4;
      flex-basis: 60%;
    }

    .request-buttons{
      text-align: right;
      
      button{
        margin-top: 2% !important;
        margin-bottom: 0 !important;
      }
      :nth-child(2){
        margin-left: 2% !important;
      }
    }
  
    .profile-data {
      padding: 5px 0 0 0;
      width: 100%;
    }
  
    .job-info {
      margin: 0;
      width: 80%;
      float: right;
      padding-top: 0;
      height: 500px;
      max-height: 500px;
      align-content: flex-start;
    }
  
    img {
      height: 500px !important;
    }
  }
  