<mat-card>
  <img mat-card-image src="{{image}}" />
  <mat-card-title>
    <div class="profile-data">
      <div class="profile-pic-holder">
        <div monoAvatar [userData]="this.userData"></div>
      </div>
      <div class="profile-name">
        <h3>{{cardContent?.creator.username}}</h3>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content>
    <h3>
     {{cardContent?.title}}
    </h3>
    <div class="rate-price">
      <div class="rate">
        <mat-icon>grade</mat-icon>
        <p>5.0</p>
      </div>
      <p id="price">${{cardContent?.price}}</p>
    </div>
  </mat-card-content>
</mat-card>
