img {
  min-height: 180px;
  max-height: 180px;
  background-size: cover;
  margin: 0px !important;
  width: 100%;
}

h3 {
  width: 50%;
}

p {
  font-weight: bold;
}

#price{
  text-align: right;
}

mat-card {
  background: #1f2833;
  color: var(--textColor);
  cursor: pointer;
  margin-bottom: 2px;
  padding: 0 !important;
}

mat-card-content {
  padding: 10px;

  h3 {
    font-weight: lighter;
    font-size: 16px;
    width: auto;
    text-align: left;
    margin-bottom: 5px;
  }
}

mat-card-title {
  margin: 8px 0 0 0 !important;
  padding-left: 10px;
  text-align: left;
  display: flex;
}

.rate-price {
  display: flex;

  p {
    width: 50%;
    margin: 0;
  }
  :first-child {
    text-align: left;
  }
}
.profile-name {
  display: grid;
  width: 96% !important;
  margin-left: 3% !important;

  h3 {

    text-align: left;
    margin: auto;
    font-size: 16px;
    width: 100%;
  }
}

.profile-data {
  padding: 0 !important;
  display: flex;
  width: 100%;
}

.rate {
  width: 50%;
  display: flex;
}

mat-icon {
  padding-left: 0 !important;
  padding-right: 8px !important;
  width: max-content;
  height: 100%;
  font-size: 16px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  img {
    max-height: 75px;
    min-height: 0px;
    min-width: 40%;
    max-width: 0%;
    order: 1;
  }
  mat-card-content {
    width: 55%;
    order: 2;
    height: 70px;
    padding: 0;
    padding-top: 5px;
    position: relative;

    h3 {
      padding-left: 10px !important;
      line-height: 15px;
      height: 48%;
      width: 100%;
      overflow: hidden;
      line-height: 100%;
      text-overflow: ellipsis;
    }
  }

  .profile-name-rate {
    width: 96% !important;
    margin-left: 4%;
    h3 {
      width: 100%;
      text-align: left;
    }
  }

  .rate-price {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .rate-price :first-child {
    mat-icon {
      padding: 0 !important;
    }
    p {
      padding-left: 8px;
    }
    padding-left: 10px !important;
    font-weight: bold;
  }

  mat-card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }

  mat-card-title {
    text-align: center;
    margin: 10px !important;
    padding-left: 0;
    font-size: 16px;
    order: 3;
    width: 100%;
  }
}

@media only screen and (min-width: 930px) {
  .profile-data {
    padding: 5px 0 0 0;
  }

  mat-card-title {
    margin-top: 5px !important;
  }
  p {
    font-size: 18px;
  }

  mat-icon{
    font-size: 18px;
  }

  mat-card-content {
    h3 {
      height: 40px;
      overflow: hidden;
    }
  }
}



