mat-toolbar{
  background:  var(--mainBackGroundColor);
  color: var(--textColor);
  max-height:min-content;
  position: fixed;
  top: 0;
  z-index: 10;
}

.buttons{
  min-width: max-content;;
  margin-left: auto; 
  padding-right: 15%;
 :last-child{
   background-color: var(--textColor);
   color: var(--mainBackGroundColor);
 }
}

button{
  min-width: max-content;
  width: 3rem;
  height: 40px;
  margin:10px;
  background: none;
  color: var(--textColor);
  font-size: 1rem;
}

h1{
  padding-left: 15%;
  font-size: 2rem;
}

.hide-button{
  display: none;
  :last-child{
    display: inline;
  }
}