<mat-toolbar>
  <h1>Zappa</h1>
  <div class="buttons">
    <button mat-flat-button *ngFor="let navData of navigationData"
      (click)="showData(navData.value)">{{navData.label}}</button>
  </div>

</mat-toolbar>