h2{
  text-align: center;
  color: var(--textColor);
}

.mat-form-field{
  min-width: 350px;
  color: var(--textColor);
}

::ng-depp .mat-dialog-container{
  all:  unset !important;
}

::ng-deep .mat-button-focus-overlay {
  display: none;
}

button{
  background: var(--textColor);
  color: var(--mainBackGroundColor);
  font-size: 19px;
  height: 40px;
  width: 35%;
  margin: auto;
}

::ng-deep .mat-dialog-container{
  background: var(--mainBackGroundColor);
  overflow-x: hidden
}

::ng-deep .mat-dialog-content{
  margin: 40px 0 20px 0;
  overflow-y: hidden;
  display: flex;
}

::ng-deep .mat-dialog-container{
  width: 25vw;
}



@media only screen and (max-width: 600px) {
  
  ::ng-deep .mat-dialog-container{
    width: 100vw;
  }
  
  ::ng-deep .mat-dialog-content{
    padding: 0;
  }
  
  button{
    width: 40%;
    padding: 0;
    text-align: center;
  }

  ::ng-deep .cdk-overlay-pane {
    max-width: none !important;
  }
  
 }

 @media only screen and (min-width: 601px) and (max-width: 1199px) { 
   ::ng-deep .mat-dialog-container{
     width: 75vw;
   }
 }
 