<h2 mat-dialog-title>I`m looking for a </h2>
<mat-dialog-content class="job-choice">
  <button (click)="showData(true)" mat-dialog-close mat-flat-button>Freelancer</button>
  <button (click)="showData(false)" mat-dialog-close mat-flat-button>Job</button>
</mat-dialog-content>