.container {
  margin-top: 15vh;
}

h1 {
  text-align: center;
  color: var(--textColor);
  margin-top: 25px;
  margin-bottom: 5vh;
  font-size: 25px;
}

h4 {
  font-size: 16px !important;
  margin-bottom: 5px;
}

#job-desc{
  margin-top: 15px;
}

.price {
  width: 50% !important;
  ::ng-deep .mat-form-field-wrapper {
    padding: 0 !important;
  }
  ::ng-deep .mat-form-field-infix{
    padding-top: 9px;
  }
}

.no-padding {
  ::ng-deep .mat-form-field-wrapper {
    padding: 0 !important;
  }
}

.mat-hint-position {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 15px !important;
    margin-bottom: 10px;
  }
}

mat-hint {
  color:var(--textColor);
}

mat-icon {
  font-size: 16px !important;
}

textarea.mat-input-element {
  resize: none;
}

.upload-button {
  background: var(--textColor);
  color: var(--mainBackGroundColor);
  width: max-content;
}

.priceing-status{
  display: flex;
  flex-wrap: wrap;

  :nth-child(1) {
    flex-basis: 100%;
  }
  :nth-child(2) {
    flex-basis: 100%;
  }
}

.buttons {
  display: flex;
  margin-top: 15px;
  
}

.form-button {
  margin: auto;
  background: var(--textColor);
  color: var(--mainBackGroundColor);
}

mat-checkbox{
  font-size: 16px;
  font-weight: bold;
  color: var(--textColor);
  width: 100%;
  float: left;
}

.errorMessage{
  font-size: 12px;
  width: 100%;
  margin: 0;
}

::ng-deep .mat-form-field-subscript-wrapper{
  padding: 0 !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: var(--textColor);
}

.picture-upload {
  img{
    margin-top: 10px;
    width: 200px;
    height: 100px;
  }
  display: grid;
  mat-label {
    margin: 10px 0 2px 0;
    font-weight: bold;
  }
  margin-bottom: 10px;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  :nth-child(1) {
    flex-basis: 100%;
  }
  :nth-child(2) {
    flex-basis: 100%;
  }
}

.mat-form-field {
  width: 100%;
  color: var(--textColor);
}

.form-hint{
  margin-right: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--textColor);
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: var(--textColor);
  border: 2px;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--textColor);
}

::ng-deep mat-label {
  color: var(--textColor);
}

mat-select{
  width: 100%;
}

::ng-deep .mat-select-placeholder {
  color: var(--textColor);
}
::ng-deep .mat-select-arrow {
  color: var(--textColor);
}

::ng-deep .mat-select-value {
  color: var(--textColor);
  font-size: 16px;
}

::ng-deep .mat-select-panel {
  background: #0b0f10;
}

::ng-deep .mat-option {
  color: var(--textColor) !important;
}

::ng-deep .mat-option:hover {
  color: #0b0f10 !important;
  background: var(--textColor) !important;
}

mat-card {
  max-width: 640px;
  margin: auto;
  background: #1f2833;
  display: grid;
  color: var(--textColor);
}

@media only screen and (min-width: 800px) {
  mat-card {
    padding: 30px;
  }
  .container {
    margin-top: 10vh;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .category-container {
    :nth-child(1) {
      flex-basis: 47%;
    }
    :nth-child(2) {
      flex-basis: 47%;
      margin-left: auto;
    }
  }

  .priceing-status{
    :nth-child(1) {
      flex-basis: 50%;
      mat-hint{
        flex-basis: 100%;
      }
    }
    :nth-child(2) {
      flex-basis: 50%;
    }
  }
}
