<div class="container">
  <h1>Post You Service or Offer</h1>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="jobForm" (ngSubmit)="createJob()">
        <h4>Describe you Service Or Offer in a few word</h4>
        <mat-form-field class="no-padding" appearance="outline">
          <mat-label>Job Title</mat-label>
          <input formControlName="title" matInput #title maxlength="100" />
          <mat-hint class="form-hint" align="end">{{ title.value.length }} / 100</mat-hint>
        </mat-form-field>
        <mat-hint class="errorMessage" *ngIf="jobForm.controls.title.invalid">Write few words about you product
        </mat-hint>
        <div class="picture-upload">
          <img src="{{ image }}" *ngIf="image" />
          <mat-label>Choose a picutre for your post</mat-label>
          <input (change)="onFileChange($event)" #fileInput style="display: none;" type="file" />
          <button class="upload-button" mat-flat-button type="button" (click)="fileInput.click()">
            Upload picture
          </button>
          <mat-hint class="errorMessage" *ngIf="jobForm.controls.image.invalid">Picture required</mat-hint>
        </div>
        <h4>Choose you categories</h4>
        <div class="category-container">
          <mat-form-field class="mat-hint-position" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select (selectionChange)="onCategoryChange($event)" formControlName="category">
              <mat-option value="option" *ngFor="let category of categories" [value]="category.jobCategories[1]">
                {{ category.title }}</mat-option>
            </mat-select>
            <mat-hint class="errorMessage" *ngIf="jobForm.controls.category.invalid">Select Category</mat-hint>
          </mat-form-field>
          <mat-form-field class="mat-hint-position" appearance="outline">
            <mat-label>Subcatergoy</mat-label>
            <mat-select formControlName="subcategory">
              <mat-option *ngFor="let subcategory of subCategories" [value]="subcategory">{{ subcategory.label }}
              </mat-option>
            </mat-select>
            <mat-hint class="errorMessage" *ngIf="jobForm.controls.subcategory.invalid">Select Subcategory</mat-hint>
          </mat-form-field>
        </div>
        <h4 id="job-desc">Give a deeper description of your post</h4>
        <mat-form-field class="no-padding" appearance="outline">
          <mat-label>Job Description</mat-label>
          <textarea formControlName="description" matInput #message maxlength="300"></textarea>
          <mat-hint class="form-hint" align="end">{{ message.value.length }} / 300</mat-hint>
        </mat-form-field>
        <mat-hint class="errorMessage" *ngIf="jobForm.controls.description.invalid">Write a description about you post
        </mat-hint>
        <div class="priceing-status">
          <div>
            <h4>Pricing</h4>
            <mat-form-field class="price mat-hint-position" appearance="outline">
              <mat-label>Price or Payment</mat-label>
              <mat-icon matPrefix>euro_symbol</mat-icon>
              <input formControlName="price" matInput />
              <mat-hint class="errorMessage" *ngIf="jobForm.controls.price.invalid">Add a valid price</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <h4>Status</h4>
            <mat-checkbox formControlName="status">Share this post as a freelancer</mat-checkbox>
          </div>
        </div>
        <div class="buttons">
          <button class="form-button" mat-flat-button type="submit">
            Create post
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>