*{
  all: unset;
}

.date-filter {
  margin-top: 10px;
}

h3 {
  margin: 10px 0px;
}

.top-h3 {
  margin-top: 0 !important;
}

.close-button-holder{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button-holder{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20%;

  button{
    height: 35px;
    padding: 5px;
    border-radius: 5px;
  }
}

button{
  background: var(--textColor);
  color: var(--mainBackGroundColor);
}

.margin-bottom{
  margin-bottom: 15px;
}


.close-button{
  width: 50px;
  font-size: 25px;
  text-align: center;
  background: transparent;
  color: var(--textColor);
  box-shadow: none;
}

mat-radio-button {
  background: #1f2833;
  color: var(--textColor);
  border-radius: 5px;
  line-height: 31px;
  padding: 5px 16px;
  width: max-content;
  margin: 5px 0px;
}

mat-radio-group {
  display: grid;
}

::ng-deep .mat-radio-container {
  display: none;
}

::ng-deep .mat-radio-label-content {
  margin-left: 0;
  padding-left: 0;
}

::ng-deep .filter {
  height: 100% !important;
  max-width: unset !important;
  width: 100% !important;
}

mat-dialog-content {
  color: var(--textColor);
  background: #0b0f10;
  display: inline;
}

::ng-deep .mat-dialog-container {
  background: #0b0f10;
  width: 100%;
}

::ng-deep .mat-radio-label-content {
  font-weight: normal !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked {
  color: var(--mainBackGroundColor);
  background: var(--textColor);
}

mat-chip {
  color: #0b0f10 !important;
  background: var(--textColor) !important;
  border-radius: 2px !important;
  mat-icon{
    opacity: 1 !important;
  }
}

::ng-deep .mat-chip-list-wrapper {
  margin: 0 0 15px 0 !important;
}
