<mat-dialog-content>
  <div class="close-button-holder">
    <button class="close-button" mat-dialog-close mat-flat-button (click)="setFilter()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div class="filter-options">
    <mat-chip-list>
      <mat-chip style="display: flex !important;">{{title}}
        <mat-icon matChipRemove *ngIf="removable"  mat-dialog-close  (removed)="removeSpecificJob()" >cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <h3 class="top-h3">Looking for</h3>
    <mat-radio-group class="margin-bottom" [(ngModel)]="isFreelancer">
      <mat-radio-button (change)="changeIsFreelancer(data.value)" *ngFor="let data of freelancerEmpolyerFilter"
        [value]="data.value" >
        {{data.label}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="filter-options">
    <h3>Categories</h3>
    <mat-radio-group class="margin-bottom" [(ngModel)]="category">
      <mat-radio-button (change)="changeFilter(jobcategory.value, 'category')" class="category-radio-button" *ngFor="let jobcategory of specificJob"
        [value]="jobcategory.value">
        {{jobcategory.label}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="filter-options">
    <h3>Price</h3>
    <mat-radio-group [(ngModel)]="price">
      <mat-radio-button (change)="changeFilter(price.value, 'price')" *ngFor="let price of priceToFilter" [value]="price.value" [checked]="price.checked">
        {{price.label}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="button-holder" *ngIf="price || category">
    <button mat-flat-button (click)="clearFilters()">Clear Filter</button>
  </div>
</mat-dialog-content>