img {
  min-height: 200px;
  max-height: 200px;
  background-size: cover;
}

h3 {
  width: 50%;
}

mat-card {
  background: #1f2833;
  color: var(--textColor);
  cursor: pointer;
  margin-bottom: 20px;
}

mat-card-title {
  text-align: center;
}

div {
  display: grid;
}
@media only screen and (max-width: 600px) {
  img {
    display: none;
  }
  mat-card {
    padding: 10px;
    margin-bottom: 0px;
  }

  mat-card-title {
    text-align: center;
    margin: auto !important;
    font-size: 18px;
  }
}
