mat-card {
  background: transparent;
  max-width: 350px;
  display: flex;
  margin: auto;
  max-height: inherit;
  border-radius: 30px;
  display: block;
  color:var(--textColor);
  min-height: max-content;
  box-shadow: none !important;

  mat-card-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10%;
  }

  mat-card-content {
    font-size: 1.5rem;
    word-break: break-word;
    text-align: center;
    height: max-content;
  }
  div {
    display: flex;
    margin: 10% 0 5% 0;
  }
}

mat-icon {
  height: max-content;
  width: max-content;
  font-size: 5rem;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  mat-card {
    margin: auto;
    margin-bottom: 15px;

    div {
      margin-top: 5%;
    }

    mat-card-title {
      font-size: 20px;
    }
  }

  mat-icon {
    font-size: 3rem;
  }
}
