<mat-card>
  <div style="width: inherit; height: 60%;">
    <mat-icon>{{ cardContent.icon }}</mat-icon>
  </div>
  <mat-card-title>{{ cardContent.title }}</mat-card-title>
  <mat-card-content>{{ cardContent.label }}</mat-card-content>
</mat-card>
