.sidenav-container {
  height: 100%;
  background: var(--mainBackGroundColor);
}

.sidenav {
  width: 200px;
  background: var(--mainBackGroundColor);

  mat-toolbar,
  mat-nav-list {
    color: var(--textColor);
    display: grid;
  }

  .mat-toolbar {
    border-bottom: 2px solid #1f2833;
  }
}

mat-icon {
  width: max-content !important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.toolbar {
  background: var(--mainBackGroundColor);
  color: var(--textColor);
  max-height: min-content;
  position: fixed;
  top: 0;
  z-index: 10;
}

h1 {
  cursor: pointer;
  margin-left: 10%;
  font-size: 2rem;
}

.buttons {
  min-width: max-content;
  margin-left: auto;
  padding-right: 15%;
  display: inline-block;
}

.join-button {
  background-color: var(--textColor);
  color: var(--mainBackGroundColor);
  min-width: max-content;
  height: 40px;
  margin: 10px;
  font-size: 1rem;
}

.userMenu {
  display: inline-flex !important;
  cursor: pointer !important;
  margin: 10px;
  border: none;
}

::ng-deep .mat-menu-panel {
  margin-top: 10px;
  width: 150px;
  background: #1f2833;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

::ng-deep .mat-menu-item {
  color: var(--textColor);
  font-size: 16px;
}

::ng-deep .mat-menu-item:hover {
  background: var(--textColor) !important;
  color: #1f2833;
}

.dekstop-buttons {
  display: inline-block;
  text-align: right;
}

.toolbar-button {
  width: min-content !important;
  height: 40px;
  margin: 10px;
  background: none;
  color: var(--textColor);
  font-size: 1rem;
  border: none;
}

.mobile-join {
  padding-right: 0 !important;
}

.hideButton {
  padding-right: 0;
}

.h1_position {
  margin-left: auto;
  padding: 0;
}

.side-menu-button {
  width: auto;
  text-align: left;
  height: 40px;
  margin: 10px;
  background: none;
  color: var(--textColor);
  font-size: 1rem;
}


@media only screen and (min-width: 601px) { 

  .buttons {
    padding-right: 10%;
  }
}

