<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" (click)="drawer.toggle()" [ngClass]="{ hidden: !(isHandset$ | async) === true }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Zappa</mat-toolbar>
    <mat-nav-list>
      <button class="side-menu-button" mat-flat-button *ngFor="let navData of mobileNavigationData"
        (click)="chooseFunction(navData.name)">
        {{ navData.label }}
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon style="font-size: 35px;" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1 [routerLink]="['/home']" [ngClass]="{ h1_position: !(isHandset$ | async) === false }">
        Zappa
      </h1>
      <div class="buttons" [ngClass]="{ hideButton: !(isHandset$ | async) === false }">
        <div class="dekstop-buttons" *ngIf="!isMobileSize">
          <button class="toolbar-button dekstop-view" mat-flat-button *ngFor="let navData of navigationData"
            (click)="chooseFunction(navData.name)">
            {{ navData.label }}
          </button>
        </div>
        <button class="join-button" mat-flat-button *ngIf="!user" (click)="chooseFunction('join')">Join</button>
        <div class="userMenu" *ngIf="user && !isMobileSize" [matMenuTriggerFor]="menu"
        monoAvatar [userData]="userData"></div>
        <div class="userMenu mobile-join" *ngIf="user && isMobileSize" monoAvatar [userData]="userData"
          (click)="navigateToProfile()"></div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navigateToProfile()">Profile</button>
          <button mat-menu-item (click)="message()">Messages</button>
          <button mat-menu-item (click)="requestList()">Requests</button>
          <button mat-menu-item (click)="usersJobPosts()">Manage Jobs</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>