h2{
  text-align: center;
  color: var(--textColor);
}

.mat-form-field{
  min-width: 350px;
  color: var(--textColor);
}

form{
  margin: auto;
  display: grid;
}

button{
  background: var(--textColor);
  color: var(--mainBackGroundColor);
  font-size: 19px;
  height: 40px;
  margin-top: 25px;
}

::ng-deep .mat-dialog-container{
  background: var(--mainBackGroundColor);
  overflow-x: hidden;
}

::ng-deep .mat-dialog-content{
  overflow-y: hidden;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--textColor);
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--textColor);
  border: 2px;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--textColor);
}

::ng-deep mat-label{
  color: var(--textColor);
}

::ng-deep .mat-form-field-wrapper{
  padding-bottom: 14px;
}

@media only screen and (max-width: 600px) {

  ::ng-deep .registration-dialog .mat-dialog-container{
    height: 100vh;
  }

  .mat-form-field{
    width: 100px;
  }

  form{
    width: 100%;
  }

  ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
  ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
  }

  ::ng-deep .registration-dialog{
    width: 100%;
    height: 100% !important;
  }
  .mat-dialog-content{
    padding: 0 16px;
  }
  .mat-form-field{
    min-width: 0;
    width: 100%;
  }

} 

.error-message{
  width: 100%;
  text-align: center;
  display: grid;
}

mat-form-field{
  padding-bottom: 5px;
}


::ng-deep .registration-dialog{
  max-width: none !important;
}

mat-hint{
  color: var(--textColor)
}

.close-button{
  margin-top: 0px;
  width: 50px;
  left: 85%;
  background: var(--mainBackGroundColor);
  color: var(--textColor);
  box-shadow: none;
}

::ng-deep .ng-pristine{
  margin: auto;
}

