<button class="close-button" mat-dialog-close mat-flat-button>X</button>
<h2 mat-dialog-title>Join Zappa</h2>
<mat-hint *ngIf="errorMessage" class="error-message">{{errorMessage}}</mat-hint>
<mat-dialog-content>
  <form [formGroup]="registrationForm" (ngSubmit)="registerNewUser()">

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
      <mat-hint *ngIf="registrationForm.controls.username.errors">
        Username minimum lenght is 3 character!
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-hint *ngIf="registrationForm.controls.email.invalid">
        Pleas add a valid email!
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-hint *ngIf="registrationForm.controls.password.invalid">
        Username minimum lenght is 5 character!
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Repeat your password</mat-label>
      <input matInput type="password" formControlName="validation">
      <mat-hint *ngIf="registrationForm.errors?.invalid">
        Passwords doesn't match
      </mat-hint>
    </mat-form-field>

    <button mat-flat-button>Join</button>
  </form>
</mat-dialog-content>