<div class="container">
  <h1>Messages</h1>
  <div *ngIf="messages === undefined || messages.length === 0  " class="no-message-container">
    <app-no-data [noMessage]="noMessage"></app-no-data>
  </div>

  <mat-card *ngFor="let message of messages">
    <mat-card-content class="with-message">
      <div class="message-info">
        <div class="creator-info">
          <div class="mono-avatar" monoAvatar [userData]="{name: message.creator.username, status:false}"></div>
          <div class="user-info">
            <h3>{{message.creator.username}}</h3>
            <h4>{{message.message}}</h4>
          </div>
        </div>
      </div>
      <div  (click)="deleteMessage(message._id)"class="delete-sign"><h2>X</h2></div>
    </mat-card-content>
  </mat-card>
</div>