.container {
  margin-top: 15vh;
  color: var(--textColor);
}

h1 {
  text-align: center;
}



.message-info{
  width: 90%;
}

.creator-info {
  display: flex;

  .user-info {
    display: grid;
    width: 80%;

    h3,
    h4 {
      text-align: left;
      margin: 0 0 0 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    h4 {
      font-weight: normal;
    }
  }
}

.with-message{
  display: flex;
}

.delete-sign{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: var(--mainBackGroundColor);
  background: var(--textColor);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin: auto !important;
  cursor: pointer;
}

mat-card {
  margin-top: 10px !important;
  padding: 10px;
  text-align: center;
  width: 50%;
  background: #1f2833;
  margin: auto;
  color: var(--textColor);
}


