h2{
  text-align: center;
  color: var(--textColor);
}

.mat-form-field{
  min-width: 350px;
  color: var(--textColor);
}

form{
  margin-top: 25px;
  display: grid;
}

button{
  background: var(--textColor);
  color: var(--mainBackGroundColor);
  font-size: 19px;
  height: 40px;
}

.error-message{
  width: 100%;
  text-align: center;
  display: grid;
  color: var(--textColor);
  margin-bottom: 20px;
}

::ng-deep .mat-button-focus-overlay {
  display: none;
}

::ng-deep .mat-dialog-container{
  background: var(--mainBackGroundColor) !important;
  overflow-x: hidden !important;
}

::ng-deep .mat-dialog-content{
  overflow-y: hidden;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--textColor);
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--textColor);
  border: 2px;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--textColor);
}

::ng-deep mat-label{
  color: var(--textColor);
}

mat-checkbox{
  margin-top: 15px;
  color: var(--textColor);
  width: 100%;
  float: left;
}


::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: var(--textColor);
}


@media only screen and (max-width: 600px) {

  ::ng-deep  .login-dialog .mat-dialog-container{
    height: 100vh;
  }

  .mat-form-field{
    width: 100px;
  }
  
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
  ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
  }

  ::ng-deep .login-dialog{
    height: 100vh;
    width: 100vw ;
  }

  .mat-dialog-content{
    padding: 0 16px;
  }

  form{
    margin-top: 5vh !important;
    width: 100%;
  }
  .mat-form-field{
    min-width: 0;
    width: 100%;
  }

} 

form{
  margin-top: 10px;
  margin: auto;
}

::ng-deep .login-dialog{
  max-width: none !important;
}

.close-button{
  width: 50px;
  left: 85%;
  background: var(--mainBackGroundColor);
  color: var(--textColor);
  box-shadow: none;
}

::ng-deep .ng-pristine{
  margin: auto;
}
