<button class="close-button" mat-dialog-close mat-flat-button>X</button>
<h2 mat-dialog-title>Login to Zappa</h2>
<mat-hint *ngIf="errorMessage" class="error-message">{{errorMessage}}</mat-hint>
<mat-dialog-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button type="submit" mat-flat-button>Sign in</button>
  </form>
</mat-dialog-content>