#mono-avatar{
    margin: auto;
}

.container{
    margin-top: 25vh;
}

h2{
    margin: 15px auto;
}

h3 {
    font-weight: normal;
}

mat-card{
    max-width: 500px;
    margin: auto;
    background: #1F2833;
    display: grid;
    color: var(--textColor);  
}

mat-card-content{
    padding-top: 20px ;
    padding-bottom: 20px;
    margin-top: 10px;
}

@media only screen and (min-width: 800px) { 
    h1{
        width: 200px;
        height: 200px;
    }

    mat-card-content{
        width: 400px;
        margin: auto;
    }
}