<div class="container">
  <mat-card>
    <h1 id="mono-avatar" monoAvatar [userData]="userData"></h1>
    <h2>{{user.username}}</h2>
    <mat-card-content>
      <h3>Email <strong style="float: right;">{{user.email}}</strong></h3>
    </mat-card-content>
  </mat-card>
</div>