<div class="container">
  <h1>Requests</h1>
 <app-no-data [noMessage]="noRequest"  class="no-request" *ngIf="requests === undefined || requests.length === 0  "></app-no-data>
  <mat-card class="request-data" *ngFor="let request of requests">
    <mat-card-content (click)="navigateToRequestDetails(request._id)">
      <div class="message-info">
        <div class="creator-info">
          <div class="mono-avatar" monoAvatar [userData]="{name: request.creator.username, status:false}"></div>
          <div class="user-info">
            <h3>{{request.creator.username}}</h3>
            <h4>{{request.message}}</h4>
          </div>
        </div>
        <h3 class="detail">Job details</h3>
        <div class="job-info">
          <h3>{{request.job.jobTitle}}</h3>
          <h3>${{request.job.price}}</h3>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>