.container {
  margin-top: 15vh;
  color: var(--textColor);
}

h1 {
  text-align: center;
  margin-bottom: 5%;
}

mat-card {
  margin-top: 10px !important;
  padding: 10px;
  text-align: center;
  width: 50%;
  background: #1f2833;
  margin: auto;
  color: var(--textColor);
}

.no-request {
  mat-icon {
    font-size: 50px;
    height: max-content;
    width: max-content;
  }
  h2 {
    margin-top: 16px;
  }
}

.detail {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: normal;
}

.mono-avatar {
  margin: auto 0;
}

.request-data {
  text-align: left;
  cursor: pointer;
}

.job-info {
  display: flex;
  h3 {
    margin: 0;
  }
  :nth-child(2) {
    margin-left: auto;
  }
}

.creator-info {
  display: flex;

  .user-info {
    display: grid;

    h3,
    h4 {
      text-align: left;
      margin: 0 0 0 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    h4 {
      font-weight: normal;
    }
  }
}
