.container{
    margin-top: 15vh;
    color: var(--textColor);
}

.hidden {
    display: none;
}

.centering {
    text-align: center;
}

.dekstop-view{
  display: grid;
}

.no-margin{
  margin: 0;
}

.margin-top{
  margin-top: 20px;
}

mat-tab{
    margin-top: 5vh !important;
    color: var(--textColor);
}


::ng-deep .mat-tab-label{
    width: 50%;
    background: #1F2833;
}

::ng-deep .mat-tab-body{
  overflow: hidden !important;
}

::ng-deep .mat-tab-body-content{
    margin-top: 20px !important;

}

::ng-deep .mat-ink-bar{
    background: var(--textColor) !important;
}

::ng-deep .mat-tab-label-content{
    color: var(--textColor);
}