<div class="container">
  <div [ngClass]="{ hidden: !(isHandset$ | async) === true }">
    <h4 class="centering">Choose what do you want to see</h4>
    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab *ngFor="let content of userJobsAndPosts" label={{content.label}} class="p-grid specificjob-container">
        <app-no-data *ngIf="userJobsAndPosts.length === 0" [noMessage]="noJob"></app-no-data>
        <app-job-card class="p-col-12 p-xl-3 p-md-4 p-sm-4 button-holder"
          *ngFor="let cardContent of content?.cardContent" [cardContent]="cardContent"  (click)="jobDetails(cardContent)"></app-job-card>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div [ngClass]="{ hidden: !(isHandset$ | async) === false }">
    <div class="dekstop-view">
      <h2>Jobs you Posted</h2>
      <app-no-data *ngIf="userJobsAndPosts[0].cardContent.length === 0" [noMessage]="noJob"></app-no-data>
      <div class="p-grid specificjob-container">
        <app-job-card class="p-col-12 p-xl-3 p-md-6 p-sm-4 button-holder"
          *ngFor="let cardContent of userJobsAndPosts[0]?.cardContent" [cardContent]="cardContent"  (click)="jobDetails(cardContent)">
        </app-job-card>
      </div>
    </div>
    <div class="dekstop-view margin-top">
      <h2>Jobs you are working on</h2>
      <app-no-data *ngIf="userJobsAndPosts[1].cardContent.length === 0" [noMessage]="noJob"></app-no-data>
      <div class="p-grid specificjob-container">
        <app-job-card  class="p-col-12 p-xl-3 p-md-6 p-sm-4 button-holder"
          *ngFor="let cardContent of userJobsAndPosts[1].cardContent" [cardContent]="cardContent" (click)="requestDetails(cardContent)">
        </app-job-card>
      </div>
    </div>
  </div>
</div>