/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0 auto 0 auto; font-family: Roboto, "Helvetica Neue", sans-serif; background: var(--mainBackGroundColor);}
.container{margin: 5% 5% 5% 5%;}

:root{
    --textColor: #66FCF1;
    --mainBackGroundColor: #0B0C10;
}

mat-icon{
  font-family: 'Material Icons' !important;
}