<div class="cover-holder">
  <div class="jobs">
    <div class="image">
      <img src="../../../assets/milkbottle.png" height="100%" />
    </div>
    <div class="image-info">
      <h2>Hire your own</h2>
      <h1>Designer</h1>
    </div>
  </div>

  <div class="info" style="color: #66fcf1;">
    <h1>FIND YOUR PERFECT FREELANCER</h1>
    <h1>SELL YOUR SKILL AS A FREELANCER</h1>
  </div>
</div>
<div class="mobile-view">
  <div>
    <h3>FIND YOUR PERFECT FREELANCER</h3>
    <h3>SELL YOUR SKILL AS A FREELANCER</h3>
  </div>
</div>

<div class="container">
  <div class="p-grid">
    <app-home-card class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12" *ngFor="let cardContent of homeCardContent"
      [cardContent]="cardContent">
    </app-home-card>
  </div>

  <h1 id="most-wanted">Most Wanted</h1>

  <div class="p-grid">
    <div class="p-col-12 p-lg-3 p-md-6 p-sm-6 button-holder" *ngFor="let job of jobs; let jobIndex = index">
      <button (click)="navigateToJobs(jobIndex)" mat-flat-button>
        <mat-icon>{{ job.icon }}</mat-icon>
        <h2>{{ job.title }}</h2>
      </button>
    </div>
  </div>
</div>