.cover-holder {
  width: 100%;
  height: 40rem;
  background-size: 500px 500px;
  background: linear-gradient(135deg, var(--mainBackGroundColor) 60%, #1f2833 40%);
  position: relative;
}

.info {
  width: max-content;
  height: max-content;
  position: absolute;
  bottom: 3%;
  right: 5%;
  font-size: 1rem;
  :first-child {
    width: max-content;
    padding-left: 10%;
  }
  :last-child {
    width: max-content;
    position: relative;
    padding-right: 30px;
  }
}

.jobs {
  display: flex;
  width: 700px;
  height: max-content;
  position: relative;
  top: 8%;
  left: 10%;

  .image {
    margin-top: 6%;
  }
}

.image-info {
  margin: 10% 0 auto 40%;
  h1 {
    margin: 0px;
    color: var(--textColor);
    font-size: 4rem;
    min-width: max-content;
  }
  h2 {
    font-size: 1.5rem;
    color: var(--textColor);
    margin: 2px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  :nth-child(2) {
    margin: 0 auto 0 auto;
  }
}

#most-wanted {
  color: var(--textColor);
  padding: 30px 0px 30px 0px;
  margin: 40px 0px 40px 0px;
  font-size: 2rem;
}

button:active {
  outline: none !important;
  border: none;
}

::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
  display: grid;
}

home-card {
  min-width: auto;
  margin: auto;
}

.mobile-view {
  height: max-content;
  width: auto;
  color: var(--textColor);
  text-align: center;

  div {
    margin: 25% 0% 15% 0%;
  }
  h3 {
    font-size: 20px;
  }
  display: none;
}

@media only screen and (max-width: 600px) {
  .cover-holder {
    display: none;
  }
  .mobile-view {
    display: inline;
  }
  .button-holder {
    width: 50%;
    margin-bottom: 20px;
    mat-icon {
      font-size: 40px !important;
    }
    h2 {
      font-size: 15px;
    }
  }
  #most-wanted {
    font-size: 1.5rem;
    margin: 40px 0 20px 0;
  }
}

.button-holder {
  text-align: center;
  margin-bottom: 30px;
  button {
    cursor: pointer;
    width: 100%;
    background: none;
    border: 0;
    color: var(--textColor);
    h2 {
      margin: 0;
    }
  }
  mat-icon {
    width: max-content;
    height: max-content;
    font-size: 50px;
  }

  h2 {
    padding-bottom: 2.5%;
  }
}

.button-holder:hover {
  button {
    background: var(--textColor);
    color: var(--mainBackGroundColor);
  }
}
